/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.image-circle {
    width: 30px;
    height:30px;
    border-radius: 10em;
}

.big-image {
    width:80px;
    height:80px;
}

.btn-circle {
    border-radius: 10em;
}