<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Eventos</h1>
        <p class="lead text-muted">Confira abaixo todos os lembretes e eventos criados por você.</p>
      </div>
    </div>
    <button [routerLink]="'create'" class="btn btn-primary">Novo evento</button>
</section>

<div id="accordion" class="pb-2" *ngIf="isThereAnyEvent">
  <div class="card mb-1" *ngFor="let event of eventsList">
    <div class="card-header">
      <div class="mb-0 d-flex flex-row justify-content-between">
        <div>
            <div class="title">{{ event.name }}</div>
            <i class="bi bi-calendar2-check" style="font-size: 1em;font-style: normal;"></i> {{ event.startDate | date:'dd/MM/YYYY' }}
            <i class="bi bi-hourglass-top" style="font-size: 1em;font-style: normal;"></i> {{ event.startTime }}
            <i class="bi bi-hourglass" style="font-size: 1em;font-style: normal;"></i> {{ event.endTime }}
        </div>
        <div class="d-flex flex-row justify-content-between">
          <p [routerLink]="event._id" class="btn btn-outline-primary mx-2" *ngIf="loggedUserEmail === event.author" ><i class="bi bi-pencil-fill" style="font-size:1em;"></i></p>
          <p class="btn btn-outline-danger mx-2" (click)="deleteEvent(event._id)" *ngIf="loggedUserEmail === event.author"><i class="bi bi-trash-fill" style="font-size:1em;"></i></p>
          <p class="btn btn-outline-success mx-2" (click)="loadUsersList(event._id)" data-toggle="modal" data-target="#exampleModal"><i class="bi bi-people" style="font-size:1em;"></i></p>
          <p class="btn btn-outline-dark mx-2" role="button" id="headingTwo" data-toggle="collapse" [attr.data-target]="'#' + event._id" aria-expanded="false" aria-controls="collapseTwo"><i class="bi bi-eye-fill" style="font-size:1em;"></i></p>
        </div>
      </div>
    </div>
    <div id="{{ event._id }}" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        <p>Autor: {{ event.author }}</p>
        <p>Data inicial: {{ event.startDate | date:'dd/MM/YYYY' }} Data final: {{ event.endDate | date:'dd/MM/YYYY' }}</p>
        <p>Hora de início: {{ event.startTime }} Hora de término: {{ event.endTime }}</p>
        <p>Descrição: <br>{{ event.desc }}</p>
        <ul class="list-group w-25">
          <p class="title fw-bold">Participantes do evento</p>
          <li class="list-group-item bg-secondary text-light" *ngFor="let participant of event.participants" >{{ participant.email }}</li>
        </ul>
      </div>
    </div>
  </div>  
</div>

<div class="text-center" *ngIf="isThereAnyEvent == false">
  <p>Você ainda não criou nenhum evento</p>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Participantes</h5>
      </div>
      <div class="modal-body">
          <li class="list-group-item bg-secondary text-light mb-2" *ngFor="let participant of participantsList" >{{ participant.email }}</li>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>